.NewCarPricing-Header {
  /* min-height: 183px; */
  margin-bottom: 25px;
  padding: 35px 110px;
  background: #727272;
  color: white;
  font-size: 55px;
  font-weight: bold;
}

.NewCarPricing-Header__text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .NewCarPricing-Header {
    margin-bottom: 25px;
  padding: 35px 20px;
  background: #727272;
  color: white;
  font-size: 55px;
  font-weight: bold;
  }
  .NewCarPricing-Header__text {
    font-size: 22px !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .NewCarPricing-Header {
    margin-bottom: 25px;
  padding: 35px 20px;
  background: #727272;
  color: white;
  font-size: 55px;
  font-weight: bold;
  }
  .NewCarPricing-Header__text {
    font-size: 40px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .NewCarPricing-Header {
    margin-bottom: 25px;
  padding: 35px 20px;
  background: #727272;
  color: white;
  font-size: 55px;
  font-weight: bold;
  }
  .NewCarPricing-Header__text {
    font-size: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .NewCarPricing-Header {
    margin-bottom: 25px;
  padding: 35px 20px;
  background: #727272;
  color: white;
  font-size: 55px;
  font-weight: bold;
  }   
}



