@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
.footer-container {
  background: #1a1a1a;
}

.footer-container__red {
  height: 21px;
  background: linear-gradient(to right, #d53535, #6b1b1b);
}

.footer-container__content {
  padding: 50px 110px 44px;
  font-family: 'Poppins', sans-serif;
}

.footer-container__content--first-column {
  width: 338px;
  padding-right: 15px;
}

.footer-container__content--first-column .first-column-pargraph {
  color: white;
  padding-top: 20px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 20px;
}

.footer-container__content--second-column {
  padding-top: 10px;
  margin-right: 20px;
}

.footer-container__content--second-column .second-column-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
  color: white;
}

.language {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.footerItem {
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.footerItem:hover {
  text-decoration: none !important;
  color: white !important;
}

.sepratorline {
  border-bottom: 2px solid rgb(124, 124, 255);
  width: 100%;
  margin-bottom: 25px;
}
.last-footer {
  padding-left: 110px;
  padding-right: 110px;
}
.footer-container hr {
  border-top: 1px solid gray;
}
@media (max-width: 1200px) {
  .footer-container__content {
    padding: 50px 20px 44px;
    font-family: 'Poppins', sans-serif;
  }
  .last-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .footer-container__content {
    padding: 50px 20px 44px;
    font-family: 'Poppins', sans-serif;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-container__content {
    padding: 50px 20px 44px;
    font-family: 'Poppins', sans-serif;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-container__content {
    padding: 50px 20px 44px;
    font-family: 'Poppins', sans-serif;
  }
}
