@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
.nav-container {
  background-color: #1a1a1a;
  color: white !important;
  min-height: 130px;
  padding: 0 110px;
  font-family: 'Poppins', sans-serif;
}

.nav-container .collapse {
  justify-content: flex-end;
}
.nav-container .collapse ul {
  width: 71%;
}
.nav-container .nav-link {
  font-size: 16px;
  padding: 0 16px !important;
  font-weight: 400;
  color: white !important;
  border-left: 1px solid white;
}
.nav-container .active .nav-link {
  border: 0;
}
.dropdown-nav {
  background-color: transparent !important;
  border-color: transparent !important;
}
.dropdown-nav:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.user-container .username {
  font-size: 17px;
  font-weight: 400;
  text-decoration: underline;
}
.user-container .user-icon {
  font-size: 17px;
}
.nav-container .navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
}
.nav-container .nav-link {
  font-size: 16px;
  padding: 0 12px !important;
  font-weight: 400;
  color: white !important;
  border-left: 1px solid white;
}
.navbar-toggler:focus {
  outline: 0px;
}
.nav-container .navbar-toggler-icon {
  color: white;
}
.nav-container .active-link {
  color: gray !important;
}
@media screen and (max-width: 1200px) {
  .nav-container .nav-link {
    margin-bottom: 10px !important;
  }
  .nav-container .active .nav-link {
    border-left: 1px solid white;
  }
  .navbar-brand img {
    width: 125px;
  }
  .user-container .user-icon,
  .user-container .username {
    font-size: 15px;
  }
  .nav-container {
    min-height: auto;
  }
  .nav-container .collapse ul {
    width: auto;
  }
  .nav-container {
    padding: 0 20px !important;
  }
}
.login-popup {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 25%;
  left: 25%;
  background: white;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #7070706b;
  color: #d53535;
  padding: 15px;
  z-index: 100;
}

.login-popup-header {
  display: flex;
  justify-content: space-between;
}
.login-popup-header-closeBTN {
  cursor: pointer;
  background: #7070706b;
  width: 4%;
  text-align: center;
  border-radius: 4px;
  font-weight: bolder;
}
.login-popupBTNS {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.fb-login-btn {
  color: white !important;
  width: 250px;
  height: 35px;
  display: flex !important;
  align-items: center !important;
  border: 1px solid transparent !important;
  background-color: #3b5998 !important;
  margin-top: 20px;
  border-radius: 3px !important;
  padding: 0px 8px !important;
  font-family: inherit !important;
  font-size: inherit !important;
}
.google-login-btn {
  color: white !important;
  width: 250px;
  height: 35px;
  display: flex !important;
  align-items: center !important;
  border: 1px solid transparent !important;
  background-color: rgb(204, 22, 22) !important;
  margin-top: 20px;
  border-radius: 3px !important;
  padding: 0px 8px !important;
  font-family: inherit !important;
  font-size: inherit !important;
  box-shadow: none !important;
}
.google-login-btn > span {
  padding: 0 !important;
  font-weight: inherit !important;
}
.google-login-btn > div {
  background: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 30px;
  height: 30px;
}

.btnContaier {
  color: white !important;
  width: 250px;
  height: 35px;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  border: 1px solid transparent !important;
  background-color: #3b5998 !important;
  margin-top: 20px;
  border-radius: 3px !important;
  padding: 0 !important;
  font-family: inherit !important;
  font-size: inherit !important;
}
