@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.nav-container {
  background-color: #1a1a1a;
  color: white !important;
  min-height: 175px;
  padding: 0 110px;
  font-family: 'Poppins', sans-serif;
}

.nav-container .collapse {
  justify-content: flex-end;
}
.nav-container .collapse ul {
  width: 75%;
}
.nav-container .nav-link {
  font-size: 25px;
  font-weight: 400;
  color: white !important;
  border-left: 1px solid white;
  padding: 0 27px !important;
}
.nav-container .active .nav-link {
  border: 0;
}
.user-container .username {
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
}
.user-container .user-icon {
  font-size: 23px;
}
.nav-container .navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
}
.navbar-toggler:focus {
  outline: 0px;
}
.nav-container .navbar-toggler-icon {
  color: white;
}
@media screen and (max-width: 1484px) {
  .nav-container .nav-link {
    font-size: 15px;
  }
  .nav-container .nav-item {
    padding-bottom: 15px;
  }
  .nav-container .user-container {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-container .active .nav-link {
    border-left: 1px solid white;
  }
}
@media scree and (max-width: 1500px) {
  .nav-container .collapse ul {
    width: auto;
  }
}
@media only screen and (max-width: 1919px) and (min-width: 1200px) {
  .nav-container {
    padding: 0 110px 0 20px;
  }
}
@media screen and (max-width: 370px) {
  .nav-container {
    padding: 0 0;
  }
  .navbar-brand img {
    width: 170px;
  }
}
