.MostLikeReview {
  padding: 40px 110px;
}
.mostLikedReview_header {
  color: #727272;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px;
}
.review-card-comment {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  margin-top: 1.5rem;
  margin-bottom: 10px;
  border-radius: 10px;
}

.MostLikeReview_cards {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.posted-container {
  font-size: 12px;
  color: gray;
}
.MostLikeReview_cardContainer {
  display: flex;
  align-items: center;
}
.MostLikeReview_cards .MostLikeReview_cardContainer img {
  border-radius: 12px;
}
.stars-container {
  margin-left: 1.5rem;
}
.mostLikeReview_desc {
  color: #494949;
  margin-bottom: 4%;
  font-weight: 400;
}
.mostLikeReview_title {
  align-items: center;
  display: flex;
  color: #d53535;
  font-weight: bold;
  font-size: 25px;
}

.mostLikedReviewCarCard_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0.1px solid #fff;
  margin-right: 7%;
}

.mostLikedReviewCarCard_title {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
}
.mostLikedReviewCarCard_desc {
  color: #3b3b3b;
  font-size: 14px;
  margin-top: 0px;
}
.mostLikedReviewCarCard_desc span {
  color: #1b1b1b;
}

.mostLikedReviewParticipantCard_img {
  width: 52%;
  height: 113px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19); */
  border: 0.1px solid #fff;
  margin-right: 4%;
}

.mostLikedReviewParticipantCard_title {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}
.mostLikedReviewParticipantCard_subTitle {
  color: #727272;
  font-size: 13px;
  margin-top: 0px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .mostLikedReviewParticipantCard_title {
    font-size: 14px;
  }
  .mostLiked__PostedOn b {
    display: block;
  }
  .mostLikedReviewParticipantCard_title {
    margin-top: 10px;
  }
  .MostLikeReview_cardContainer .no-gutters {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
  .MostLikeReview_cardContainer img {
    width: auto !important;
  }
  .MostLikeReview_cardContainer:last-child {
    margin-top: 10px;
  }
  .MostLikeReview_cardContainer.last-one {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* .mostLikedReviewCarCard_img {
    width: 25%;
  } */
  /* .mostLikedReviewParticipantCard_img {
    width: 25%;
  } */
  .MostLikeReview_cardContainer.last-one {
    width: 100%;
  }
  .mostLiked-image-container {
    padding-bottom: 20px;
  }
  .mostLiked-image-container img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* .mostLikedReviewCarCard_img {
    width: 25%;
  } */
  /* .mostLikedReviewParticipantCard_img {
    width: 25%;
  } */
  .mostLikedReviewParticipantCard_title {
    font-size: 16px;
  }
  .mostLikedReviewCarCard_details {
    padding-right: 10px;
  }
}
@media (max-width: 1200px) {
  .most_liked {
    flex: 100%;
    max-width: 100%;
    padding-right: 0px !important;
  }
}
@media (max-width: 768px) {
  .mostLiked-row {
    margin: 0px !important;
  }
  .mostLiked-image-container {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .mostLikeReview_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .stars-z {
    z-index: 99;
    position: relative !important;
    width: 117px;
    height: 44px !important;
    left: 0px !important;
    top: 35px !important;
  }
  .stars-container {
    margin-left: 0px;
    position: relative;
    /* top: -40px; */
  }
  .topRatedCarCard_rateNum {
    width: 44px;
    font-size: 29px;
  }
  .mostLikedReviewParticipantCard_img {
    width: 87%;
    margin-bottom: 10px;
  }
  .MostLikeReview_cardContainer {
    display: block;
    padding-left: 0px !important;
  }
  .mostLikedReviewParticipantCard_title {
    position: initial;
    font-size: 13px;
  }
  .mostLikedReviewCarCard_title {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .mostLikedReviewCarCard_img {
    margin-bottom: 10px;
  }
  .mostLikeReview_title {
    font-size: 15px;
  }
  .special_padding {
    padding-right: 20px !important;
  }
  .topRatedCarCard_img {
    width: 90px;
  }
  .topRatedCarCard_title {
    font-size: 11px;
  }
  .topRatedCarCard_rateNum {
    font-size: 25px !important;
    margin-right: 0px !important;
  }
}
