.MostLikeReview {
  padding: 40px 110px;
}
.mostLikedReview_header {
  color: #727272;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px;
}
.MostLikeReview_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.MostLikeReview_cardContainer {
  margin-top: 22px;
  width: 40%;
  display: flex;
  align-items: center;
  padding-right: 9px;
}
.stars-container {
  margin-left: 1.5rem;
}
.mostLikeReview_desc {
  color: #494949;
  margin-bottom: 4%;
  font-weight: 400;
}
.mostLikeReview_title {
  align-items: center;
  display: flex;
  margin: 5% 0;
  color: #d53535;
  font-weight: bold;
  font-size: 25px;
}

.mostLikedReviewCarCard_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0.1px solid #fff;
  margin-right: 7%;
}

.mostLikedReviewCarCard_title {
  color: #a40000;
  font-size: 14px;
  font-weight: 500;
}
.mostLikedReviewCarCard_desc {
  color: #a09a9a;
  font-size: 13px;
  margin-top: 0px;
}

.mostLikedReviewParticipantCard_img {
  width: 52%;
  height: 113px;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19); */
  border: 0.1px solid #fff;
  margin-right: 4%;
}

.mostLikedReviewParticipantCard_title {
  color: #515151;
  font-size: 20px;
  font-weight: 700;
}
.mostLikedReviewParticipantCard_subTitle {
  color: #727272;
  font-size: 13px;
  margin-top: 0px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* .mostLikedReviewCarCard_img {
    width: 25%;
  } */
  /* .mostLikedReviewParticipantCard_img {
    width: 25%;
  } */
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* .mostLikedReviewCarCard_img {
    width: 25%;
  } */
  /* .mostLikedReviewParticipantCard_img {
    width: 25%;
  } */
  .mostLikedReviewParticipantCard_title {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .most_liked {
    flex: 100%;
    max-width: 100%;
    padding-right: 0px !important;
  }
}
@media (max-width: 576px) {
  .mostLikeReview_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .stars-z {
    z-index: 99;
    position: relative !important;
    width: 117px;
    height: 44px !important;
    left: 0px !important;
    top: 35px !important;
  }
  .stars-container {
    margin-left: 0px;
    position: relative;
    /* top: -40px; */
  }
  .topRatedCarCard_rateNum {
    width: 44px;
    font-size: 29px;
  }
  .mostLikedReviewParticipantCard_img {
    width: 87%;
    margin-bottom: 10px;
  }
  .MostLikeReview_cardContainer {
    display: block;
    padding-left: 0px !important;
  }
  .mostLikedReviewParticipantCard_title {
    font-size: 13px;
  }
  .mostLikedReviewCarCard_title {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .mostLikedReviewCarCard_img {
    margin-bottom: 10px;
  }
  .mostLikeReview_title {
    font-size: 15px;
  }
  .special_padding {
    padding-right: 0px !important;
  }
  .topRatedCarCard_img {
    width: 90px;
  }
  .topRatedCarCard_title {
    font-size: 14px;
  }
  .topRatedCarCard_rateNum {
    font-size: 25px !important;
    margin-right: 0px !important;
  }
}
