.topCarsRated_title {
  font-size: 25px;
  font-weight: 500;
  padding: 10px 7%;
  height: 100px;
  background: #efefef;
  border-radius: 15px;
  color: #d53535;
  margin-bottom: 20px;
  margin-top: 40px;
}
.topRatedCarCard_title_link {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.topRatedCarCard_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.topRatedCarCard_title:hover {
  text-overflow: initial;
  white-space: normal;
  overflow: auto;
}
.topRatedCarCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #efefef;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}
.topRatedCarCard_details {
  width: 100%;
}
/* .topRatedCarCard_link {
	margin-right: 5%;
} */
.topRatedCarCard_img {
  width: 100%;
  /* height: 112px; */
  border-radius: 12px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19); */
  border: 0.1px solid #fff;
}

.topRatedCarCard_reviewCard {
  display: flex;
  width: auto;
  align-items: center;
}
.topRatedCarCard_rateNum {
  font-size: 20px;
  font-weight: 400;
  margin-right: 0px;
  color: #161616;
  width: 40px;
}

.topRatedCarCard_resale {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0;
  color: #575757;
}
.topRatedCarCard_reli {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0;
  color: #575757;
}
.stylingStars {
  margin-top: -7px;
  width: 113px;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .topRatedCarCard_title {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .topRatedCarCard_title_link {
    font-size: 15px;
  }
}
