.topCarsRated_title {
  font-size: 25px;
  font-weight: 500;
  padding: 10px 7%;
  height: 100px;
  background: #efefef;
  border-radius: 15px;
  color: #d53535;
  margin-bottom: 20px;
  margin-top: 40px;
}
.topRatedCarCard_title_link {
  color: black !important;
  font-weight: bold;
}
.topRatedCarCard {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #efefef;
}
.topRatedCarCard_details {
  width: 100%;
}
.topRatedCarCard_link {
  margin-right: 5%;
}
.topRatedCarCard_img {
  width: 148px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0.1px solid white;
}
.topRatedCarCard_title {
  font-weight: bold;
  font-size: 17px;
}
.topRatedCarCard_reviewCard {
  display: flex;
  width: auto;
  align-items: center;
}
.topRatedCarCard_rateNum {
  font-size: 35px;
  font-weight: 500;
  width: 63px;
  color: #727272;
}
.topRatedCarCard_reteDetails {
  color: #727272;
}
