.car-details-container {
  padding: 0 200px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.bigger-image {
  padding-left: 0px;
  padding-right: 0px;
}

.bigger-image img {
  border-radius: 20px;
  height: auto;
  width: 100%;
  padding-left: 4px;
}
.bigger-image-first img {
  padding-right: 4px;
  width: 100% !important;
  padding-left: 0px;
}
@media (max-width: 1200px) {
  .car-details-container {
    padding: 0 20px;
  }
  .bigger-image-first img {
    padding-right: 0px;
  }
  .bigger-image img {
    padding: 0px 3px 0px 3px;
  }
}
@media (max-width: 992px) {
  .bigger-image img {
    padding-bottom: 10px;
  }
}
