@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.cars-pros-container {
  padding: 0 200px;
  margin-bottom: 40px;
}
.car-cons,
.car-pros {
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  padding: 11px 18px 6px;
  height: 100%;
  box-shadow: 0 0 5px 2px rgb(163 160 166 / 15%);
}
.title-container {
  border-bottom: 1px solid #e6e6e6;
}
.car-pros .pros,
.cons {
  font-size: 20px;
  font-weight: 600;
  color: #d53535;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.right-arrow {
  padding-left: 3px;
  font-weight: 400;
  margin-top: 3px;
}
.cars-pros-container .pros-content {
  display: flex;
  /* align-items: flex-end; */
  padding-top: 7px;
}
.pros-content {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 6px;
}
.pros-content h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: -3px;
  text-transform: capitalize;
  padding-left: 23px;
  min-height: 26px;
  align-self: flex-end;
}
@media (max-width: 1200px) {
  .cars-pros-container {
    padding: 16px 30px;
  }
}
@media (max-width: 992px) {
  .cons {
    font-size: 25px;
  }
  .cons {
    padding-top: 3px;
  }
  .car-pros,
  .car-cons {
    margin-bottom: 10px;
  }
  .padding-mobile {
    padding: 10px 0;
  }
}
@media (max-width: 576px) {
  .cons {
    font-size: 17px;
  }
  .car-pros svg,
  .car-cons svg {
    width: 200px;
  }
  .pros-content h2 {
    font-size: 14px;
    min-height: 24px;
  }
}
