@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.customer-reviews {
  font-family: 'Poppins', sans-serif;
  padding: 0 179px !important;
}
.inner-container-review {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px 30px 20px 27px;
}
.customerRiviewAllTitles {
  font-size: 25px;
  font-weight: 500;
  color: #727272;
}
.top-title-container {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}
.customer-review-title {
  font-size: 35px;
  font-weight: 500;
  color: #727272;
}
.customer-reviews .special {
  color: #d53535;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 11px;
}
.customer-review-sub-title {
  font-weight: 500;
  color: #646464;
  font-size: 16px;
}

.customer-reviews-writeReview {
  background-color: #d53535;
  color: #fff;
  border: none;
  padding: 15px 24px 14px 24px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
}
.customer-reviews-writeReview:focus {
  outline: 0px !important;
}
.no-comments {
  color: rgb(155, 155, 155);
  font-size: 20px;
}
.customer-reviews button svg {
  margin-right: 5px;
}

.ratings-section {
  padding: 20px 0 92px 0;
}

.ratings-section h1 {
  font-size: 100px;
  color: #727272;
  margin-bottom: 0px;
}

.ratings-section span {
  font-size: 20px;
}
.ratings-section p {
  font-size: 15px;
  color: #727272;
  margin-bottom: 14px;
}
/* .ratings-section .big-star {
  width: 100%;
} */
.ratings-section img {
  color: #727272;
}

.ratings-section h2 {
  font-size: 20px;
  color: #c4c4c4;
  padding-right: 15px;
}

.ratings-section svg {
  height: 20px;
}

.consumer-reviews h1 {
  font-size: 28px;
  font-weight: 600;
  color: #666666;
}

.consumer-reviews h2 {
  font-size: 20px;
  color: #d53535;
  min-width: 129px;
  font-weight: 500;
  margin-bottom: 0;
}

.consumer-reviews p {
  margin: 16px 0 0px 0;
  color: #5a5a5a;
  font-weight: 400;
  font-size: 16px;
}

.consumer-reviews span {
  font-size: 13px;
  font-weight: 500;
  color: #c4c4c4;
}

.consumer-reviews span::after {
  content: '|';
  margin: 0 20px 0 20px;
}
.consumer-reviews .last::after {
  content: '';
  margin: 0 20px 0 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.progress-container table tbody tr td {
  padding: 0.2rem;
  vertical-align: middle;
  border: none;
}

.progress-container table tbody tr td .progress,
.progress-container table tbody tr td .progress-bar {
  border-radius: 50px;
}

.progress-container table tbody tr td .progress-bar {
  background-color: #d53535;
}

.progress-container table tbody tr td:nth-of-type(1) {
  width: 5%;
  color: #727272;
}

.progress-container table tbody tr td:nth-of-type(2) {
  width: 5%;
}

.progress-container table tbody tr td:nth-of-type(3) {
  width: 90%;
}

/* Review Inputs */
.review__input {
  border: 1px solid #707070 !important;
  box-shadow: 0px 1px 4px #707070;
}

.review__input_title {
  height: 60px;
}
.review__input_title:focus ~ .review__input_title__placeholder {
  display: none;
}

.review__input_rating {
  height: 60px;
}

.review__input_comment {
  resize: none;
}
.review_input_comment_placeholder {
  display: block;
  top: 12%;
  left: 6%;
}
.review__input_comment:focus ~ .review_input_comment_placeholder {
  display: none;
}
.review__input_title,
.review__input_rating,
.review__input_comment {
  z-index: 1;
}

.review__input_rating__placeholder,
.review__input_title__placeholder {
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}

.edit-delete-btns-container {
  display: flex;
  margin-top: 20px;
}
.consumerReviewBtn {
  margin: 0px;
}
.consumerReviewBtn {
  background-color: #d53535 !important;
  color: white !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 10px !important;
  font-size: 14px !important;
  border-radius: 5px !important;
  margin-right: 10px !important;
}
.consumerReviewBtn:focus {
  outline: none;
}
.review {
  text-transform: capitalize;
  margin-top: 26px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}
@media (max-width: 1200px) {
  .customerRiviewAllTitles {
    font-size: 25px;
  }
  .customer-reviews {
    padding: 0 20px !important;
  }
}
@media (max-width: 992px) {
  .customerRiviewAllTitles {
    font-size: 25px;
  }
  .customer-review-title {
    font-size: 29px;
  }
}

@media (max-width: 768px) {
  .no-comments {
    font-size: 15px;
  }
  .customerRiviewAllTitles {
    font-size: 20px;
  }

  .customer-review-title {
    font-size: 29px;
  }
  .consumer-reviews h1 {
    font-size: 30px;
  }
  .consumer-reviews h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .customerRiviewAllTitles {
    font-size: 20px;
  }

  .customer-review-title {
    font-size: 20px;
  }
  .consumer-reviews h1 {
    font-size: 29px;
  }
  .consumer-reviews h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.consumer-reviews span::after {
  content: none;
  margin: 0 20px 0 20px;
}
