@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.fullcar-container {
  padding: 0 200px;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}
.fullcar-container .brief-details {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px 30px 20px 27px;
  margin-bottom: 40px;
}
.brief-inner-container {
  padding-bottom: 7px;
  border-bottom: 1px solid #e6e6e6;
}
.fullcar-container .brief {
  font-size: 24px;
  color: #d53535;
  font-weight: 600;
  margin-bottom: 3px;
}
.fullcar-container .car-type {
  font-size: 20px;
  font-weight: 500;
  color: #303030;
}
.fullcar-container .made-in {
  font-size: 14px;
  font-weight: 400;
  color: #77797c;
  margin-top: 7px;
}
.fullcar-container .made-in span {
  color: #303030;
  font-size: 18px;
  font-weight: 500;
}
.fullcar-container .brief-content {
  padding-top: 13px;
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 32px;
}
.full-details {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px 30px 20px 27px;
}
.full-details__banner {
  padding-bottom: 7px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.single-detail {
  align-items: center;
}

.single-detail h5 {
  font-size: 16px;
  font-weight: 500;
  color: #727272;
  margin-bottom: 0px;
  padding-left: 16px;
}
.single-detail .stars-container {
  margin-left: auto;
}
.full-details hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 8px 0px;
}
.not-stars {
  color: #2b2b2b;
  font-weight: 500;
  font-size: 18px;
}
.stars-container {
  height: 41px;
}
.stars-container .main__gary {
  color: #2b2b2b;
  font-weight: 500;
  font-size: 18px;
}
.left-column-details {
  border-right: 1px solid #e6e6e6;
  padding-right: 31px !important;
}
.right-column-details {
  padding-left: 31px !important;
}
@media (max-width: 1200px) {
  .brief {
    font-size: 29px;
  }
  .fullcar-container {
    padding: 0 20px;
  }
  .fullcar-container .car-type {
    font-size: 29px;
  }
  .fullcar-container .brief-content {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .brief {
    font-size: 29px;
  }
  .fullcar-container .brief-content {
    max-width: 100%;
  }
  .right-column-details {
    padding-left: 0px !important;
  }
  .left-column-details {
    padding-right: 0px !important;
    border-right: 0px;
  }
}
/* @media (max-width: 768px) {
  .right-column-details {
    padding-left: 0px !important;
  }
  .left-column-details {
    padding-right: 0px !important;
    border-radius: 0px;
  }
} */
@media (max-width: 576px) {
  .stars-container .main__gary,
  .not-stars {
    font-size: 16px;
  }
  .single-detail h5 {
    font-size: 12px;
  }
  .fullcar-container .brief {
    font-size: 22px;
  }
  .fullcar-container .car-type {
    font-size: 13px;
  }
  .fullcar-container .made-in span {
    font-size: 14px;
  }
  .fullcar-container .brief-content {
    font-size: 14px;
  }
  .full-details__banner {
    padding: 27px 14px 34px 14px;
    text-align: center;
  }
  .single-detail {
    flex-direction: column;
    align-items: flex-start;
  }
  .single-detail .stars-container {
    margin-left: 0px;
    padding-left: 38px !important;
  }
  .stars-container p {
    padding-left: 5px !important;
  }

  .brief-inner-container {
    flex-direction: column;
  }
  .fullcar-container .made-in {
    margin-left: unset !important;
  }
  .fullcar-container .made-in span {
    margin-left: unset !important;
  }
}
