@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.fullcar-container {
  padding: 0 110px;
  margin-bottom: 56px;
  font-family: 'Poppins', sans-serif;
}
.fullcar-container .brief {
  font-size: 35px;
  color: #d53535;
  font-weight: 500;
  margin-bottom: 0px;
}
.fullcar-container .car-type {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #6e6e6e;
}
.fullcar-container .made-in {
  padding-bottom: 21px;
}
.fullcar-container .made-in span {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
.fullcar-container .brief-content {
  font-size: 18px;
  font-weight: 300;
  color: #5b5b5b;
  max-width: 600px;
}
.full-details__banner {
  background-color: #efefef;
  padding: 27px 0 34px 34px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.single-detail {
  align-items: center;
}
.single-detail i {
  padding-right: 20px;
  color: #d53535;
  font-size: 25px;
}
.single-detail h5 {
  font-size: 15px;
  font-weight: 500;
  color: #727272;
  margin-bottom: 0px;
}
.single-detail .stars-container {
  margin-left: auto;
}
.full-details hr {
  border-top: 1px solid rgb(0 0 0 / 12%);
}
.not-stars {
  color: #727272;
  font-weight: bolder;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .fullcar-container {
    padding: 0 20px;
  }
  .fullcar-container .car-type {
    font-size: 29px;
  }
  .fullcar-container .brief-content {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .fullcar-container .brief-content {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .fullcar-container .brief {
    font-size: 29px;
  }
  .fullcar-container .car-type {
    font-size: 14px;
  }
  .fullcar-container .made-in span {
    font-size: 14px;
  }
  .fullcar-container .brief-content {
    font-size: 14px;
  }
  .full-details__banner {
    padding: 27px 14px 34px 14px;
    text-align: center;
  }
  .single-detail {
    flex-direction: column;
    align-items: flex-start;
  }
  .single-detail .stars-container {
    margin-left: 0px;
  }
  .single-detail i {
    padding-right: 5px;
  }
}
