@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.last-banner {
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  padding: 0px 174px 0px 183px;
}
.last-banner-inner-container {
  background-color: #f4f8fb;
  border-radius: 20px;
  width: 100%;
}
.last-banner-inner-container img {
  margin-top: 14px;
  margin-bottom: 16px;
}
.last-banner-content {
  padding-top: 49px;
}
.last-banner .banner-title {
  font-size: 20px;
  font-weight: 500;
  color: #2b2b2b;
  padding-bottom: 30px;
}
.last-banner .banner-title span {
  color: #d53535;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 30px;
}

.last-banner .price-detail {
  font-weight: 600;
  font-size: 26px;
  color: #1a1a1a;
}
.last-banner .price-range {
  font-weight: 600;
  font-size: 19px;
  color: #1a1a1a;
}

@media (max-width: 1200px) {
  .last-banner {
    padding: 96px 20px;
  }
  .last-banner .banner-content {
    flex-direction: row !important;
    padding: 8px 20px !important;
  }
  .last-banner .banner-title {
    font-size: 29px;
  }
}
@media (max-width: 992px) {
  .last-banner .price-range {
    font-size: 25px;
  }
  .last-banner .banner-content {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .last-banner-content {
    padding-bottom: 15px;
    margin-left: 19px;
  }
}
@media (max-width: 768px) {
  .last-banner .price-range {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .last-banner .price-range {
    font-size: 12px;
  }
  .last-banner .banner-content {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .last-banner .banner-title {
    padding-right: 0;
  }
  .last-banner .banner-price {
    padding-right: 0;
  }
  .last-banner .banner-title {
    font-size: 21px;
  }
  .last-banner .banner-title span {
    font-size: 22px;
  }
}
