@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.header-container {
  background-image: url(../../images/car-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
  color: white;
  padding-top: 43px;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  margin-bottom: 71px;
}
.img_cont{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.filterImage{
  background-image: linear-gradient(transparent,transparent,black);
  /* box-shadow: inset 0 0 10px red; */
    position: absolute;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
}
.header-container .main-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 54px;
}
.header-container .sub-title {
  font-size: 50px;
  font-weight: 100;
}
@media (max-width: 992px) {
  .header-container .main-title {
    font-size: 60px;
  }
  .header-container .sub-title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .header-container .main-title {
    font-size: 30px;
  }
  .header-container .sub-title {
    font-size: 18px;
  }
  .header-container {
    background-size: 100% 100%;
    min-height: 125px;
    padding-top: 5px;
    margin-bottom: 30px;
  }
}
