@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.header-container {
  background-image: url(../../images/car-background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 550px;
  color: white;
  padding-top: 43px;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  margin-bottom: 71px;
}
.header-container .main-title {
  font-size: 80px;
  font-weight: bold;
  line-height: 54px;
}
.header-container .sub-title {
  font-size: 50px;
  font-weight: 100;
}
@media (max-width: 992px) {
  .header-container .main-title {
    font-size: 60px;
  }
  .header-container .sub-title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .header-container .main-title {
    font-size: 40px;
  }
  .header-container .sub-title {
    font-size: 20px;
  }
}
