@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.header-container {
  background-image: url(../../images/car-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
  color: white;
  padding-top: 43px;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  margin-bottom: 71px;
}
.img_cont {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carousel-caption {
  left: 6%;
}
.filterImage {
  background-image: linear-gradient(transparent, transparent, #484848);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
}
.carousel-caption h1 {
  font-size: 2.7rem;
  text-shadow: 1px 1px #aaaaaa;
}
.carousel-indicators li {
  border-radius: 50%;
  background-clip: inherit !important;
  width: 11px;
  height: 11px;
  border-top: 0px !important;
  border-bottom: 0px !important;
}
.carousel-caption h4 {
  max-width: 42%;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(219 219 219);
}
.header-container .main-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 54px;
}
.header-container .sub-title {
  font-size: 50px;
  font-weight: 100;
}
@media (max-width: 992px) {
  .carousel-caption h4 {
    font-size: 20px;
    max-width: 100%;
  }
  .carousel-caption h1 {
    font-size: 25px;
  }
  .img_cont {
    height: 380px;
  }
  .header-container .main-title {
    font-size: 60px;
  }
  .header-container .sub-title {
    font-size: 40px;
  }
}
@media (max-width: 777px) {
  .img_cont {
    height: 300px;
  }
  .carousel-indicators {
    top: 276px !important;
  }
}
@media (max-width: 576px) {
  .carousel-indicators {
    top: 160px !important;
  }
  .img_cont {
    height: 179px;
  }
  .header-container .main-title {
    font-size: 30px;
  }
  .header-container .sub-title {
    font-size: 18px;
  }
  .header-container {
    background-size: 100% 100%;
    min-height: 125px;
    padding-top: 5px;
    margin-bottom: 30px;
  }
}
