@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.section-a-homepage-container {
	padding: 0 200px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 50px;
	margin-top: 61px !important;
}
.section-a-homepage-container .choices-container .choices-container-sub,
.make-container-sub {
	align-items: center;
}
.section-a-homepage-container .choices-container h3,
.make-container h3 {
	font-size: 24px;
	font-weight: 500;
}
.choices-container {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	padding: 20px 30px 26px 30px;
	background: #fffefe;
	height: 467px;
}
.make-container {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	padding: 20px 30px 26px 30px;
	background: #fffefe;
	height: 467px;
}

.section-a-homepage-container .special {
	color: #d53535;
	font-weight: 600;
}
.section-a-homepage-container .note {
	font-size: 16px;
	font-weight: 500;
	color: #4d4c4c;
	margin-bottom: 17px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
}

.section-a-homepage-container .cars-container-col {
	margin: 17px 0px;
}
.section-a-homepage-container .cars-container {
	height: 160px;
	width: 148px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0px 4px 20px rgba(74, 101, 173, 0.07);
}
.section-a-homepage-container .cars-container img {
	padding: 12px 8px;
	width: 132px;
	height: 120px;
}
.section-a-homepage-container .cars-container hr {
	border-top: 1px dashed rgba(0, 0, 0, 0.2);
	margin: 0 19px;
}
.section-a-homepage-container .cars-left .cars-container img {
	height: 112px;
}
.section-a-homepage-container .cars-container .car-name {
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 11px;
	color: #d53535;
}
.make-container-sub .special-row {
	justify-content: flex-end;
}
.css-u4avqg-control {
	padding: 0px !important;
}

@media (max-width: 1200px) {
	.section-a-homepage-container .make-container-sub {
		flex-direction: column;
		align-items: flex-start;
	}
	.section-a-homepage-container .choices-container .choices-container-sub {
		flex-direction: column;
		align-items: flex-start;
	}
	.section-a-homepage-container {
		padding: 0 20px !important;
	}
	.section-a-homepage-container .choices-container h3,
	.make-container h3 {
		padding-right: 0px;
	}
	.section-a-homepage-container svg {
		margin-bottom: 20px;
		width: 243.44px;
	}
	.make-container-sub .special-row {
		justify-content: flex-start !important;
	}
	.section-a-homepage-container .choices-container {
		margin-bottom: 30px;
	}
}
@media (max-width: 768px) {
	.section-a-homepage-container .choices-container h3,
	.make-container h3 {
		font-size: 27px;
	}
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.section-a-homepage-container .cars-container img {
		padding: 12px 8px;
		width: 120px;
		height: 120px;
	}
}
@media (max-width: 576px) {
	.section-a-homepage-container .choices-container h3,
	.make-container h3 {
		font-size: 18px;
	}
	.section-a-homepage-container .note {
		font-size: 14px !important;
	}
	.section-a-homepage-container svg {
		width: 170px;
	}
	.section-a-homepage-container .cars-left .cars-container img {
		height: 69px;
	}
	.section-a-homepage-container .cars-container img {
		height: 105px;
		width: auto;
	}
	.section-a-homepage-container .cars-container {
		height: 152px;
		width: 130px;
	}
	.section-a-homepage-container .cars-container .car-name {
		font-size: 15px;
		padding-top: 14px;
	}
}

@media (min-width: 1200px) and (max-width: 1340px) {
	.section-a-homepage-container .cars-container {
		height: 140px;
		width: 105px;
		text-align: center;
		border-radius: 15px;
		box-shadow: 0px 4px 20px rgba(74, 101, 173, 0.07);
	}
	.section-a-homepage-container .cars-container img {
		padding: 4px 8px;
		width: 99px;
		height: 92px;
		max-width: none;
	}
	.section-a-homepage-container .cars-container .car-name {
		font-size: 14px;
	}
}

@media (min-width: 1320px) {
	.section-a-homepage-container .cars-container {
		height: 165px;
		width: 155px;
	}
	.section-a-homepage-container .cars-container img {
		padding: 4px 8px;
		width: 140px;
		height: 125px;
		max-width: none;
	}
	.section-a-homepage-container .cars-container .car-name {
		font-size: 16px;
	}
}
