@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.section-c-homepage-container {
  padding: 0 110px;
}
.section-c_compare {
  padding-bottom: 159px;
}
.compare-title {
  font-weight: bold;
  font-size: 35px;
  color: #727272;
}
.compare-main-content {
  padding-bottom: 38px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.compare-labels {
  font-family: 'Poppins', sans-serif;
  color: #727272;
}
.compare-labels .labels-title {
  font-weight: bold;
  font-size: 21px;
  padding-bottom: 15px;
}
.compare-labels .labels-types {
  font-weight: 700;
  font-size: 14px !important;
  padding-bottom: 34px;
}

@media (max-width: 1080px) {
  .section-c-homepage-container {
    padding: 0 20px !important;
  }
}
@media screen and (max-width: 992px) {
  .compare-main-content {
    align-items: flex-start !important;
  }
  .compare-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(41, 40, 40);
  }
  .compare-main-content {
    flex-direction: column;
  }
  .section-c-homepage-container svg {
    width: 534px;
  }
}

@media screen and (max-width: 768px) {
  .compare-labels .labels-types {
    font-size: 12px !important;
    font-weight: 500;
  }
  .compare-labels .labels-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  .compare-labels .labels-title {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .compare-labels .labels-types {
    font-size: 11px !important;
    padding-bottom: 14px;
  }

  .section-c-homepage-container svg {
    width: 210px;
  }
  .compare-title {
    font-size: 23px;
  }
}
