:root {
  --mainRed: #d53535;
  --mainGray: #727272;
}

.main__red {
  color: var(--mainRed);
}

.main__gary {
  color: var(--mainGray);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom__container {
  width: 100%;
  padding: 0 110px;
}
.paddingSchema {
  background-color: #b20101;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
  margin-top: 10px;
}

@media (max-width: 1199.98px) {
  .custom__container {
    width: 100%;
    padding: 0 20px;
  }
  .paddingSchema {
    padding: 0px 20px !important;
    background-color: #b20101;
  }
}
