.Cars-Available__container {
  padding: 0px 110px;
}

.Cars-Available__container__title {
  padding-top: 50px;
  font-size: 25px;
  color: #aaa;
}
.Cars-Available__container__SubTitle {
  color: #aaa;
  font-size: 15px;
}
.Cars-Available__container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  background: #f4f4f4;
}
.Cars-Available__container__submitBtn {
  border: none;
  outline: none;
  background: #3863b1;
  border: 0;
  border-bottom: 2px solid #27467d;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  width: 80px;
  padding: 13px 0px;
  height: 50px;
  margin-left: 1rem;
}
.Cars-Available__container__submitBtn:focus {
  outline: none;
  border: none;
}
.Cars-Available__container__NewUSedBar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
  background: #f4f4f4;
}
.Cars-Available__container__ChoosedBrand {
  margin: 30px 0px;
  font-size: 20px;
  color: #3e3e3e;
}
.Cars-Available__container__carImgContainer {
  /* padding: 0.2% 0.2% !important; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.Cars-Available__container__carImgContainer img {
  transition: all 0.7s;
  width: 100%;
  height: 100%;
}

.Cars-Available__container__carImgContainer__shadowBox {
  transition: all 0.7s;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow:inset 0 0 70px #000000;

}


.Cars-Available__container__carImgContainer:hover > .Cars-Available__container__carImgContainer__shadowBox {
  box-shadow:inset 0 0 70px #000000;
}
.Cars-Available__container__carImgContainer:hover img {
  -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.Cars-Available__container__carImgContainer__title {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: absolute;
  top: 75%;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 25%;
  color: white;
  font-weight: bold;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Cars-Available__container {
    padding: 10px 20px !important;
    min-height: 120px;
    align-items: center;
    justify-content: center;
  }
  .Cars-Available__container__submitBtn {
    height: 35px !important;
    padding: 0px;
  }
  .Cars-Available__container .About__And__Summary__Select {
    margin: 0.75rem 1rem !important;
  }
  .Cars-Available__container__NewUSedBar {
    flex-direction: column;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Cars-Available__container {
    padding: 10px 20px !important;
    min-height: 120px;
    align-items: center;
    justify-content: center;
  }
  .Cars-Available__container__submitBtn {
    height: 35px !important;
    padding: 0px;
  }
  .Cars-Available__container .About__And__Summary__Select {
    margin: 0.75rem 1rem !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Cars-Available__container {
    padding: 10px 20px !important;
    min-height: 120px;
    align-items: center;
    justify-content: center;
  }
  .Cars-Available__container__submitBtn {
    height: 40px !important;
    padding: 0px;
  }
  .Cars-Available__container .About__And__Summary__Select {
    margin: 0.75rem 1rem !important;
  }
}
@media (max-width: 1200px) {
  .Cars-Available__container {
    padding: 0px 20px;
  }
}
